
mixin modalCreate()
    #movieModal.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='movieModalLabel' aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-body
                    #movieContainer
                    
                    
                    .modal-buttom
                        button.modalButton(type='button' data-dismiss='modal') Close
                        .rights
                            img(src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg", alt="")
                        button#orderTicketButton.modalButton(type='button' data-dismiss='modal') Order TIckets

mixin placeOrderTemplate(seats)
    .row
        .col.order-md-2.rightDiv
            .cart
                h4.d-flex.justify-content-between.align-items-center.mb-3
                    span.text-muted Your cart
                    span#numOfSeats.badge.badge-secondary.badge-pill
                ul.list-group.mb-3.cartList
                    
                form.promoCode
                    .input-group
                        input.form-control(type='text' placeholder='Promo code')
                        .input-group-append
                            button.btn.btn-secondary(type='submit') Redeem
                .mb-3
            .cartButtonContainer
                button.seatSelectButton Back
        .col-md-8.order-md-1
            h4.mb-3 Billing address
            form#orderForm.needs-validation(method='post')
                .row
                    .col-md-6.mb-3
                        label(for='firstName') First name
                        input#firstName.form-control(type='text' placeholder='' name='firstName' required='')
                        .invalid-feedback
                            | Valid first name is required.
                    .col-md-6.mb-3
                        label(for='lastName') Last name
                        input#lastName.form-control(type='text' placeholder='' name='lastName' required='')
                        .invalid-feedback
                            | Valid last name is required.
                .mb-3
                    label(for='email')
                        | Email 
                    input#email.form-control(type='email' name='email' placeholder='you@example.com')
                    .invalid-feedback
                        | Please enter a valid email address for shipping updates.
                .mb-3
                    label(for='address') Address
                    input#address.form-control(type='text' placeholder='1234 Main St' name='address' required='')
                    .invalid-feedback
                        | Please enter your shipping address.
                hr.mb-4
                .row
                    .col-md-6.mb-3
                        label Name on card
                        input#cc-name.form-control(type='text' placeholder='' required='')
                        small.text-muted Full name as displayed on card
                        .invalid-feedback
                            | Name on card is required
                    .col-md-6.mb-3
                        label Credit card number
                        input#cc-number.form-control(type='text' placeholder='' required='')
                        .invalid-feedback
                            | Credit card number is required
                .row
                    .col-md-3.mb-3
                        label Expiration
                        input#cc-expiration.form-control(type='text' placeholder='' required='')
                        .invalid-feedback
                            | Expiration date required
                    .col-md-3.mb-3
                        label CVV
                        input#cc-cvv.form-control(type='text' placeholder='' required='')
                        .invalid-feedback
                            | Security code required
                    input#hiddenField(type='hidden' name='seats' value='')

                hr.mb-4
                button.btn.btn-primary.btn-lg.btn-block.placeOrderButton(type='button') Place Order
